IMAGE="784A58A49E44A85B1C508BC796166CBA"
DEPLOY=true
#USER_PRIVATE_ACCOUNT=""
#USER_ADDRESS="0xd8f157Cc95Bc40B4F0B58eb48046FebedbF26Bde"
#
SETTLEMENT_CONTRACT_ADDRESS="0xa60ab4Fc6a12F08E672E9fE6f6DF51c785cFb19a"
RPC_PROVIDER="https://bsc-testnet.publicnode.com"
#SETTLER_PRIVATE_ACCOUNT=""
